<!DOCTYPE html>
<html>
<head>
    <title>Online Banking</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800' rel='stylesheet' type='text/css'>
    <!-- Style Sheets -->
    <link rel="stylesheet" href="~/content/ss/animate.css">
    <link rel="stylesheet" href="~/content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/content/css/templatemo_misc.css">
    <link rel="stylesheet" href="~/content/css/templatemo_style.css">
    <link rel="stylesheet" href="~/content/css/styles.css">
    <!-- JavaScripts -->
    <script src="~/content/js/jquery-1.11.1.min.js"></script>
    <script src="~/content/js/bootstrap-dropdown.js"></script>
    <script src="~/content/js/bootstrap-collapse.js"></script>
    <script src="~/content/js/bootstrap-tab.js"></script>
    <script src="~/content/js/jquery.singlePageNav.js"></script>
    <script src="~/content/js/jquery.flexslider.js"></script>
    <script src="~/content/js/custom.js"></script>
    <script src="~/content/js/jquery.lightbox.js"></script>
    <script src="~/content/js/templatemo_custom.js"></script>
    <script src="~/content/js/responsiveCarousel.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .kor {
            margin-top: 120px;
        }
        .jmw {
            width: 1225px;
            height:400px;

        }
    </style>
</head>
<body>
    <div class="kor">
        <div class="templatemo_contactwrapper" id="templatemo_contact_page">
            <div class="container">
                <div class="row">
                    <h1>Contact</h1>
                </div>
            </div>
            <div class="jmw">
                <img src="~/Content/images/slider/o-ONLINE-BANKING-facebook.jpg" width="1300" height="300" />
                <div id="">
                   </div>
            </div>
            <div class="container templatemo_contactmargin">
                <div class="row">
                    <div class="col-md-3">
                        <div class="templatemo_address_title">Mailing Address:</div>
                        No 123, Duis in enim road, Sed sit amet arcu ut quam porttitor.
                        <div class="clear"></div>
                        <div class="templatemo_address_left">Call us:</div>
                        <div class="templatemo_address_right">
                            +001 333 000 1010<br>
                            +002 666 000 2020
                        </div>
                        <div class="clear"></div>
                        <div class="templatemo_address_left">Hot line:</div>
                        <div class="templatemo_address_right">+009 000 999 0000</div>
                        <div class="clear"></div>
                        <div class="templatemo_address_left">Email us:</div>
                        <div class="templatemo_address_right">
                            admin@company.com<br>
                            info@company.com
                        </div>
                    </div>
                    <form action="#" method="post">
                        <div class="col-md-9">
                            <div class="col-md-4">
                                <input type="text" name="name" id="name" class="name" placeholder="Your Name">
                            </div>
                            <div class="col-md-4">
                                <input type="text" name="email" id="email" class="email" placeholder="Your Email">
                            </div>
                            <div class="col-md-4">
                                <input type="text" name="subject" id="subject" class="subject" placeholder="Subject">
                            </div>
                            <div class="col-md-12">
                                <textarea name="message" cols="1" rows="1" class="message" placeholder="Your message... " id="message"></textarea>
                            </div>
                            <div class="col-md-4">
                                <input type="submit" name="send" value="Send Message" id="submit" class="button templatemo_sendbtn">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</body>
</html>