<!DOCTYPE html>
<html>
<head>
    <title>Bus Sytem</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800' rel='stylesheet' type='text/css'>
    <!-- Style Sheets -->
    <link rel="stylesheet" href="~/content/ss/animate.css">
    <link rel="stylesheet" href="~/content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/content/css/templatemo_misc.css">
    <link rel="stylesheet" href="~/content/css/templatemo_style.css">
    <link rel="stylesheet" href="~/content/css/styles.css">
    <!-- JavaScripts -->
    <script src="~/content/js/jquery-1.11.1.min.js"></script>
    <script src="~/content/js/bootstrap-dropdown.js"></script>
    <script src="~/content/js/bootstrap-collapse.js"></script>
    <script src="~/content/js/bootstrap-tab.js"></script>
    <script src="~/content/js/jquery.singlePageNav.js"></script>
    <script src="~/content/js/jquery.flexslider.js"></script>
    <script src="~/content/js/custom.js"></script>
    <script src="~/content/js/jquery.lightbox.js"></script>
    <script src="~/content/js/templatemo_custom.js"></script>
    <script src="~/content/js/responsiveCarousel.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    


    <div class="templatemo_headerimage">
        <div class="flexslider">
            <ul class="slides">
                <li>


                    <img src="~/Content/images/slider/1.jpg" alt="slide 1" height="815"/>

                <li>
                 <img src="~/Content/images/slider/2.jpg" alt="slide 2" height="815"/>
                <li>
                    <img src="~/Content/images/slider/3.jpg" height="815"/>

            </ul>

        </div>
    </div>
    <div class="slider-caption">
        <div class="templatemo_homewrapper">
            <div class="templatemo_hometitle">This Bus Sytem</div>
            <div class="templatemo_hometext">This Bus Sytem to help all peoples stay in the world to transport other place.</div>
            <div class="templatemo_homebutton"><a href="#">Continue</a></div>
        </div>
    </div>
    </div>
    <!-- header end -->
    <div class="clear"></div>
    <!-- service start -->
    <div class="templatemo_servicewrapper" id="templatemo_service_page">
        <div class="container">
            <div class="row">
                <h1>Services</h1>
                <div class="col-md-12 templatemo_marginbot">You can easily <strong>Use This Website</strong> by looking at guidelines from <a rel="nofollow" href="">Online Banking</a>. Example: <strong>&lt;</strong> Online ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam dapibus leo quis nisl. In lectus. Vivamus consectetuer pede in nisl. Mauris cursus pretium mauris. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</div>
                <div class="col-md-3 col-sm-6">
                    <div class="templatemo_servicebox margin_bottom_1col margin_bottom_2col">
                        <div class="templatemo_serviceicon"><span class="glyphicon glyphicon-transfer"></span></div>
                        <div class="templatemo_service_title">Transefering Money</div>
                        <p>Donec euismod, justo sed convallis blandit, ipsum erat mattis lectus, vel pharetra neque enim tristique risus.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="templatemo_servicebox margin_bottom_1col margin_bottom_2col">
                        <div class="templatemo_serviceicon"><span class="glyphicon glyphicon-saved"></span></div>
                        <div class="templatemo_service_title">Saving Accounts</div>
                        <p>Online  is free Banking  <span class="blue">however</span><span class="green">mo</span>. You can use EveryWhere You stay, edit and use this banking for any purpose.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="templatemo_servicebox margin_bottom_1col">
                        <div class="templatemo_serviceicon"><span class="fa fa-download"></span></div>
                        <div class="templatemo_service_title">Reliable Acount</div>
                        <p>Credit goes to <a rel="nofollow" href="http://unsplash.com">Unsplash</a> for images used in this template. Curabitur rhoncus felis quis nibh pulvinar.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="templatemo_servicebox">
                        <div class="templatemo_serviceicon"><span class="fa fa-random"></span></div>
                        <div class="templatemo_service_title">Free To Open</div>
                        <p>Donec euismod, justo sed convallis blandit, ipsum erat mattis lectus, vel pharetra neque enim tristique risus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="templatemo_team_wrapper" id="templatemo_team_page">
        <div class="container">
            <div class="row">
                <h1>Our Team</h1>
                <div class="col-md-12 templatemo_workmargin">Suspendisse potenti. Etiam elementum laoreet mauris. Ut rutrum feugiat neque. Suspendisse viverra gravida nulla. Duis sed enim vitae metus nonummy venenatis. Curabitur semper rutrum sapien. Mauris luctus. Aenean elit turpis, volutpat id, facilisis eget, mollis a, est. Nulla eget elit pellentesque enim hendrerit venenatis.</div>
                <div id="w">
                    <div class="crsl-items" data-navigation="navbtns">
                        <div class="crsl-wrap">
                            <div class="crsl-item">
                                <img src="images/team/01.jpg" alt="person 1">
                                <div class="templatemo_team_name">Mauris Luctus</div>
                                <div class="templatemo_team_post">CEO</div>
                                <div class="templatemo_social">
                                    <ul>
                                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                        <li><a href="#"><span class="fa fa-skype"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- post #1 -->
                            <div class="crsl-item">
                                <img src="images/team/02.jpg" alt="person 2">
                                <div class="templatemo_team_name">Etiam Massa</div>
                                <div class="templatemo_team_post">Director</div>
                                <div class="templatemo_social">
                                    <ul>
                                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                        <li><a href="#"><span class="fa fa-skype"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- post #2 -->
                            <div class="crsl-item">
                                <img src="images/team/03.jpg" alt="person 3">
                                <div class="templatemo_team_name">Mauris Luctus</div>
                                <div class="templatemo_team_post">New Manager</div>
                                <div class="templatemo_social">
                                    <ul>
                                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                        <li><a href="#"><span class="fa fa-skype"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- post #3 -->
                            <div class="crsl-item">
                                <img src="images/team/04.jpg" alt="person 4">
                                <div class="templatemo_team_name">Morbi Pulvinar</div>
                                <div class="templatemo_team_post">Designer</div>
                                <div class="templatemo_social">
                                    <ul>
                                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                        <li><a href="#"><span class="fa fa-skype"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- post #4 -->
                            <div class="crsl-item">
                                <img src="images/team/05.jpg" alt="person 5">
                                <div class="templatemo_team_name">Mauris Luctus</div>
                                <div class="templatemo_team_post">Developer</div>
                                <div class="templatemo_social">
                                    <ul>
                                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                        <li><a href="#"><span class="fa fa-skype"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- post #5 -->
                            <div class="crsl-item">
                                <img src="images/team/06.jpg" alt="person 6">
                                <div class="templatemo_team_name">Mauris Luctus</div>
                                <div class="templatemo_team_post">Technical Staff</div>
                                <div class="templatemo_social">
                                    <ul>
                                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                        <li><a href="#"><span class="fa fa-skype"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- post #6 -->
                        </div>

                    </div>

                </div>
                <div class="clear"></div>
                <nav class="slidernav">
                    <div id="navbtns" class="clearfix"><a href="#" class="previous"><img src="images/slideitmoo_back.png" alt="previous"></a> <a href="#" class="next"><img src="images/slideitmoo_forward.png" alt="next"></a></div>
                </nav>
            </div>
            <script>
	$(function() {
		$('.crsl-items').carousel({
			visible: 4,
			itemMinWidth: 180,
			itemEqualHeight: 370,
			itemMargin: 9,
		});
		$("a[href=#]").on('click', function(e) {
			e.preventDefault();
		});
	});
            </script>
        </div>
    </div>
    <!-- team end -->
    <div class="clear"></div>
    <!-- contact start -->
    <div class="templatemo_contactwrapper" id="templatemo_contact_page">
        <div class="container">
            <div class="row">
                <h1>Contact</h1>
            </div>
        </div>
        <div class="templatemo_contactmap">
            <div id="templatemo_map"></div>
        </div>
        <div class="container templatemo_contactmargin">
            <div class="row">
                <div class="col-md-3">
                    <div class="templatemo_address_title">Mailing Address:</div>
                    No 123, Duis in enim road, Sed sit amet arcu ut quam porttitor.
                    <div class="clear"></div>
                    <div class="templatemo_address_left">Call us:</div>
                    <div class="templatemo_address_right">
                        +001 333 000 1010<br>
                        +002 666 000 2020
                    </div>
                    <div class="clear"></div>
                    <div class="templatemo_address_left">Hot line:</div>
                    <div class="templatemo_address_right">+009 000 999 0000</div>
                    <div class="clear"></div>
                    <div class="templatemo_address_left">Email us:</div>
                    <div class="templatemo_address_right">
                        admin@company.com<br>
                        info@company.com
                    </div>
                </div>
                <form action="#" method="post">
                    <div class="col-md-9">
                        <div class="col-md-4">
                            <input type="text" name="name" id="name" class="name" placeholder="Your Name">
                        </div>
                        <div class="col-md-4">
                            <input type="text" name="email" id="email" class="email" placeholder="Your Email">
                        </div>
                        <div class="col-md-4">
                            <input type="text" name="subject" id="subject" class="subject" placeholder="Subject">
                        </div>
                        <div class="col-md-12">
                            <textarea name="message" cols="1" rows="1" class="message" placeholder="Your message... " id="message"></textarea>
                        </div>
                        <div class="col-md-4">
                            <input type="submit" name="send" value="Send Message" id="submit" class="button templatemo_sendbtn">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    </body>
</html>