
@{
    ViewBag.Title = "Unauthorized";
}
<link rel="stylesheet" href="~/content/ss/animate.css">
<link rel="stylesheet" href="~/content/css/bootstrap.min.css">
<link rel="stylesheet" href="~/content/css/font-awesome.min.css">
<link rel="stylesheet" href="~/content/css/templatemo_misc.css">
<link rel="stylesheet" href="~/content/css/templatemo_style.css">
<link rel="stylesheet" href="~/content/css/styles.css">

<!-- JavaScripts -->
<script src="~/content/js/jquery-1.11.1.min.js"></script>
<script src="~/content/js/bootstrap-dropdown.js"></script>
<script src="~/content/js/bootstrap-collapse.js"></script>
<script src="~/content/js/bootstrap-tab.js"></script>
<script src="~/content/js/jquery.singlePageNav.js"></script>
<script src="~/content/js/jquery.flexslider.js"></script>
<script src="~/content/js/custom.js"></script>
<script src="~/content/js/jquery.lightbox.js"></script>
<script src="~/content/js/templatemo_custom.js"></script>
<script src="~/content/js/responsiveCarousel.min.js"></script>
@Styles.Render("~/Content/css")
<ul class="breadcrumb push-down-0">
<li><a href="#">Home</a></li>
<li><a href="#">Pages</a></li>
<li class="active">UnAuthorized</li>
    </ul>

<!-- END BREADCRUMB -->
<!-- PAGE CONTENT WRAPPER -->

<p></p>
<br />
<div class="col-md-offset-1 col-md-10">
    <h3 class="alert alert-danger"><center>You don't have the permissions to access this page.</center></h3>
</div>
<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-8">
            <div class="error-container">

                <p></p>

            </div>
        </div>
    </div>
</div>

